<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Bootstrap demo</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <h1>New TODO item</h1>
        <form id="newToDoForm">
            <div class="mb-3">
                <label for="newToDoTitle" class="form-label">Title</label>
                <input
                    type="text"
                    class="form-control"
                    id="newToDoTitle"
                    aria-describedby="titleHelp"
                />
            </div>
            <div class="form-group">
                <label for="newToDoDescription">Description</label>
                <textarea
                    class="form-control"
                    id="newToDoDescription"
                    rows="3"
                ></textarea>
            </div>
            <div class="mb-3">
                <label for="newToDoDate" class="form-label"
                    >Target Date</label
                >
                <input
                    type="date"
                    class="form-control"
                    id="newToDoDate"
                    aria-describedby="dateHelp"
                />
            </div>

            <button type="submit" class="btn btn-primary">Add</button>
            <a th:href="@{table}" class="btn btn-primary" role="button"
                >Go to table</a
            >
        </form>
    </body>
</html>
